.App {
  text-align: center;
}

.title {
  color: 	#808080;
  margin-left: 1rem;
}

input[type=text] {
  width: 25%;
  height: 31px;
}

input[type=text]:hover {
  border: 1.75px solid #555;
}
input[type=text]:active {
  border: 2px solid #555;
}
.header {
  padding-top: 2rem;
  width: 65%;
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
}

.App-header {
  background-color: #8b8b8b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.table {
  margin-top: 2rem;
  margin-left: 2rem;
	width: 65%;
	border: none;
	margin-bottom: 20px;
}
.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
}
.table thead th:hover {
	/* background: black;
  color: #d8d8d8 */
	background: darkgray;
  color: white;
}
.table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}

.table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
.table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.table tbody tr:nth-child(even){
	background: #f3f3f3;
}
.table tbody tr:hover{
  background: #838383;
  color: white;
}
.table tbody tr:nth-child(even):hover{
	background: #838383;
  color: white;
}
.table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}
nav {
  display: flex;
  justify-content: center;
}
      
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
      
.pagination li {
  margin: 0 1px;
}

.info {
  margin-top: 2rem;
  background: white;
  color: #2B2D2F;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  margin-left: 2rem;
  padding-top: 5px;
  width: 65%;
  height: 30%;
  border-radius: 8px 8px 8px 8px;
  font-size: 18px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: left;
}

select {
  width: 15%;
  height: 40px;
}
  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
